{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="header">
        <h1>File Explorer</h1>
        <!-- Search Box -->
        <form action="{{ url_for('search') }}" method="GET" class="search-form">
            <input type="text" id="search" name="query" placeholder="Enter file or folder name">
            <button type="submit">Search</button>
            <input type="hidden" name="dir" value="{{ current_directory }}">
        </form>
        </div>
         <p>Current Folder:
        {% for parent in current_directory.parents[::-1] %}
        <a href="{{ url_for('index', rel_directory=parent) }}">
            {{ parent.name }}
        </a> /
        {% endfor %}
        {{ current_directory.name }}
    </p>



    <form id="file-selection-form" action="{{ url_for('retrieve_selected_file_path') }}" method="post">
        <table>
            <thead>
            <tr>
                <th>Select</th>
                <th>Name</th>
                <th>Type</th>
                <th>Size</th>
                <th>Last Modified</th>
            </tr>
            </thead>
            <tbody>
            {% for file in files %}
            <tr>
                <td>
                    <input type="checkbox" name="selected_files" value="{{ (current_directory / file).resolve() }}">

                </td>
                <td>
                    {% if (current_directory / file).is_file() %}
                    <a href="{{ url_for('view_file', filepath=current_directory / file) }}">{{ file }}</a>
                    {% else %}
                    <a href="{{ url_for('index', rel_directory=current_directory / file) }}">{{ file }}</a>
                    {% endif %}
                </td>
                <td>{% if (current_directory / file).is_file() %} File {% else %} Directory {% endif %}</td>
                <td>{% if (current_directory / file).is_file() %} {{ (current_directory / file).stat().st_size |
                    format_file_size }} {% endif
                    %}
                </td>
                <td>{% if (current_directory / file).is_file() %} {{ (current_directory / file).stat().st_mtime |
                    datetimeformat('%Y-%m-%d %H:%M:%S') }} {% endif
                    %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="fixed-button">
            <button type="submit">Send Path</button>
        </div>

    </form>
</div>

{% endblock %}
