<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>File Metadata</title>
</head>
<body>
<div class="container">
    <h1>File Metadata</h1>
    <p>File Path: {{ file_path }}</p>
    <p>File Size: {{ file_info['File Size'] }}</p>
    <p>Last Modified: {{ file_info['Last Modified'] }}</p>
    <p>Is Directory: {{ file_info['Is Directory'] }}</p>
    <p>Is File: {{ file_info['Is File'] }}</p>
    <p>File Extension: {{ file_info['File Extension'] }}</p>
    <p>File Permissions: {{ file_info['File Permissions'] }}</p>
    <hr>
    <h2>Path Components:</h2>
    <ul>
        {% for component in file_info['Path Components'] %}
        <li>{{ component }}</li>
        {% endfor %}
    </ul>
    <hr>

    <div style="text-align: center;">
        <!-- Form to submit and retrieve the file path -->
        <form action="{{ url_for('view_file', filepath=file_path) }}" method="post">
            <button id="file-path-btn" type="submit">Retrieve File Path</button>
        </form>


        <!-- Display the file path -->
        {% block file_path_display %}
        {% if file_path_to_display %}
        <p id="file-path-display">Retrieved File Path: {{ file_path_to_display }}</p>
        {% endif %}
        {% endblock %}
    </div>
</div>
</body>
</html>
